/*top*/
.comWidth{width:1000px;margin-left:auto;margin-right:auto;}
.topBar{height:31px;background-color:#F7F7F7;line-height:31px;font-size:10px;}
.topBar a{text-decoration:none;color:#5C5C5C;}
.topBar a:hover{text-decoration:none;color:#868686;}
.collection{background:url(../images/icon/collection.png) left center no-repeat; padding-left:19px;font-weight:bold;}
.fl{float:left;}
.fr{float:right;}

/*logo*/
.logoBar{height:85px;background-color:#990000;}
.perfect{font-size:40px;float:left;color:#FFFFFF;font-family:"幼圆";margin-left:100px;line-height:85px;}

/*收货地址*/
.panel-default{margin-top:15px;}
.shopping-cont{float:left; width:800px;}
.select{float:right;}
.padding-shop{padding:25px 30px;}
.form-control{width:550px;}
.order-item em{color:#CC0000;padding-right:5px;font-size:20px;}
.btn-danger{background-color:#CC0000;}
.shopping-cont span{margin-left:50px;}
.checkbox{width:700px;}
.shopping-order{width:500px;}
.select-order{margin-top:10px; float:right;}
.btn-lg{width:500px; margin:15px auto;}
/*提交*/
.modal-body p{text-align:center;}
.modal-body a{text-decoration:none;color:#5E5E5E;}
.modal-body a:hover{color:#9E9E9E;}
/*底部*/
.alc{font-size:10px; margin-left:250px;}
